:root {
  --primary: #8ac541;
  --secondary: #f69223;
  --light: #fbfbfb;
  --background: #eeeeee;
  --dark: #353535;
  --dark-green: #6a9c2c;
  --gray: #abaab0;
  --light-gray: #dbdbdb;
  --dark-gray: #737373;

}
@font-face {
  font-family: Aller;
  src: url('../fonts/Aller_0.ttf'),
}
@font-face {
  font-family: Isidora;
  src: url('../fonts/IsidoraSemiBold.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
