:root{
  --primary: #8AC541;
  --secondary: #F69223;
  --light: #FBFBFB;
  --background: #EEEEEE;
  --dark: #353535;
  --dark-green: #6A9C2C;
  --gray: #ABAAB0;
  --dark-gray: #737373;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}